@import "../../../themes/app.scss";

.relations {
    @include inline-block($primary);

    .container-page {
        display: flex;
        flex-direction: column;
        align-items: center;

        & app-relationship {
            margin-bottom: 1rem;
        }
    }
}

@include respond-to("desktop") {
    .relations {
        .container-page {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
}