<div class="relations">
    <div class="container">
        <app-title title="'En lien avec '+ ROUTER_PARAM_SLUG.replace('-', ' ')" tag="h2" color="'#202020'" />
        <div class="container-page container-page__grid">
            <app-relationship *ngFor="let relation of relations; trackBy:trackByFn" [relationship]="relation"/>
        </div>
        <pagination-controls
        class="my-pagination"  
        (pageChange)="currentPage = $event"
        [directionLinks]="true"
        [autoHide]="true"
        previousLabel="Précédent"
        nextLabel="Suivant"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
        ></pagination-controls>
    </div>
</div>