@import "../../../themes/app.scss";

.relations {
    @include inline-block($primary);
}

@include respond-to("desktop") {
    .container-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        app-relationship {
            margin-bottom: 1rem;
        }
    }
}

