@import "../../../themes/app.scss";

.figure {
  @include inline-block($primary);
  text-align: center;

  .container-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    app-card-character,
    app-list-card-anime,
    app-poster {
      margin-bottom: 1rem;
    }
  }
}

@include respond-to("tablet") {

  .container-page {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;

  }
}

@include respond-to("desktop") {
  .figure {
    .container-page {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        app-card-character {
            margin-bottom: 1rem;
        }
    }
}
}