@import "../../../themes/app.scss";

.container-animes {
    background: $primary;
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
    text-align: center;
}

@include respond-to("desktop") {
    .container-animes {
        text-align: left;
    }
}