<section class="container-animes">
  <div class="container">
    <app-title color="'#202020'" tag="h2" title="anime récent"/>

    <app-list-card-anime
      [isMobile]="isMobile"
      [animes]="animes"
      [sortBy]="'startDate'"
    />
    <app-title title="anime populaire" tag="h2" [color]="'#202020'" />
    
    <app-list-card-anime
      [isMobile]="isMobile"
      [animes]="animes"
      [sortBy]="'popularityRank'"
    />
    <app-title title="meilleurs note" tag="h2" [color]="'#202020'" />

    <app-list-card-anime
      [isMobile]="isMobile"
      [animes]="animes"
      [sortBy]="'score'"
    />
  </div>
</section>
