$breakpoints: (
  "mobile": (
    min-width: 320px,
  ),
  "mobile-m": (
    min-width: 375px,
  ),
  "mobile-l": (
    min-width: 425px,
  ),
  "tablet": (
    min-width: 768px,
  ),
  "laptop": (
    min-width: 1024px,
  ),
  "desktop": (
    min-width: 1268px,
  )
);

/// Responsive breakpoint manager
/// @access public
/// @param {String} $breakpoint - Breakpoint
/// @requires $breakpoints
@mixin respond-to($breakpoint) {
  $raw-query: map-get($breakpoints, $breakpoint);

  // If the breakpoint exists in the map.
  @if $raw-query {
    $query: if(
      type-of($raw-query) == "string",
      unquote($raw-query),
      inspect($raw-query)
    );
    // Write the media query.
    @media #{$query} {
      @content;
    }
  } @else {
    @error 'No value found for `#{$breakpoint}`. '
            + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

//Usage

.selector {
  color: red;
  
  @include respond-to('mobile') {
    color: blue;
  }
}