<!-- tab bar -->
<div class="navbar">
    <ul class="container-icon">
        <li class="container-icon__content">
            <a href="/">
                <img src="assets/svg/house.svg" alt="logo" class="logo" />
                <p>Accueil</p>
            </a>
        </li>
        <li class="container-icon__content">
            <a href="/">
                <img src="assets/svg/log.svg" alt="logo" class="logo" />
                <p>Connexion</p>
            </a>
        </li>
        <li class="container-icon__content">
            <a href="/">
                <img src="assets/svg/login.svg" alt="logo" class="logo" />
                <p>Inscription</p>
            </a>
        </li>
    </ul>
</div>

<div class="navbar-desk">
    <ul class="navbar-desk__container">
        <li class="navbar-desk__container__content">
            <a href="/">
                <img src="../../../assets/logo-kahina.webp" alt="icon license">
            </a>
        </li>
        <li class="container-icon__content">
            <input type="text" placeholder="Rechercher" class="search" />
        </li>
        <li class="container-icon__content">
            <a [routerLink]="['/']">
                <p>Ajouter un article</p>
            </a>
        </li>
        <li class="container-icon__content">
            <a [routerLink]="['/login']">
                <p>Connexion</p>
            </a>
        </li>
        <li class="container-icon__content">
            <a [routerLink]="['/inscription']">
                <app-button [libelle]="'Inscription'"/>
            </a>
        </li>
    </ul>
</div>