<!-- <h1>Storybook des composants de l'application kahina</h1> -->

<app-poster></app-poster>

<app-theme></app-theme>

<div>
    <app-relationship></app-relationship>
</div>

<app-review></app-review>

<app-scoring></app-scoring>

<section class="card-anime">
    <app-title title="'card-anime'" tag="h2" color="'#202020'" />
    <div class="card-anime__container" >
        <app-card-anime *ngFor="let anime of animes | slice:0:1" [anime]="anime"></app-card-anime>
    </div>
</section>

<section class="button">
    <app-title [title]="'button'"/>
    <app-button [libelle]="'Lire la suite'"></app-button>
    <app-button [libelle]="'SCORE'" [background]="'#D9D9D9'" [color]="'#202020'"></app-button>
</section>

<section class="card-character">
    <app-title [title]="'card character'"/>
    <div class="card-character__container">
        <app-card-character></app-card-character>
    </div>
</section>

<div class="grid">
    <app-card-article class="one" [article]="articles[0]" [one]="true"></app-card-article>
    <app-card-article class="two" [article]="articles[1]"></app-card-article>
    <app-card-article class="three" [article]="articles[2]"></app-card-article>
</div>

