<div class="content">
    <h1 class="title">Kahina, faites connaître votre passion pour l'animation et les mangas.</h1>
    <div class="content__ecart">

        <div class="content__ecart__bloc">
            <img class="content__ecart__logo" src="assets/svg/search.svg" alt="upvoteicon icon" />
            <div class="content__ecart__text">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
        <div class="content__ecart__bloc">
            <img class="content__ecart__logo" src="assets/svg/house.svg" alt="upvoteicon icon" />
            <div class="content__ecart__text">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
        <div class="content__ecart__bloc">
            <img class="content__ecart__logo" src="assets/svg/comments.svg" alt="upvoteicon icon" />
            <div class="content__ecart__text">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>
        <div class="content__ecart__bloc">
            <img class="content__ecart__logo" src="assets/svg/share.svg" alt="upvoteicon icon" />
            <div class="content__ecart__text">
                <h4>Lorem Ipsum</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
            </div>
        </div>


    </div>
    <app-button [libelle]="'Rejoins la communauté !'"></app-button>
</div>

<app-articles [articles]="articles"/>

<app-banner/>

<app-animes [animes]="animes"/>
