@import "../../../themes/app.scss";

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: $black;
  background-color: $primary;
  padding: .5rem;
  height: 40rem;

  &__ecart {
    margin: 0 auto;

    &__bloc {
      display: flex;
      align-items: center;
      width: 15rem;
    }

    &__logo {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
    }

    &__text {
      text-align: start;

      h4 {
        margin-bottom: .5rem;
      }

      p {
        line-height: 1.2rem;
      }
    }
  }

  h1 {
    margin: 0;
  }
}


@include respond-to("desktop") {
  .content {
    margin-top: -4px;
    height: 30rem;

    &__ecart {
      display: flex;

      &__bloc {
        width: 17rem;
      }
    }
  }
}