<div class="content">
    <h1 class="title">Kahina, faites connaître votre passion pour l'animation et les mangas.</h1>
    <div class="content__ecart">

        <div class="content__ecart__bloc">
            <img class="content__ecart__logo" src="assets/svg/search.svg" alt="upvoteicon icon" />
            <div class="content__ecart__text">
                <h4>Rechercher</h4>
                <p>Trouvez l’anime que vous voulez voir via un système de recherche facile à utiliser.</p>
            </div>
        </div>
        <div class="content__ecart__bloc">
            <img class="content__ecart__logo" src="assets/svg/newspaper.svg" alt="upvoteicon icon" />
            <div class="content__ecart__text">
                <h4>Actualiter</h4>
                <p>Suivez les derniers actualiter partager par les membres</p>
            </div>
        </div>
        <div class="content__ecart__bloc">
            <img class="content__ecart__logo" src="assets/svg/comments.svg" alt="upvoteicon icon" />
            <div class="content__ecart__text">
                <h4>Partager</h4>
                <p>Discuter avec la communauté et partager votre passion pour l’anime et le manga à travers un chat en temps réel</p>
            </div>
        </div>
        <div class="content__ecart__bloc">
            <img class="content__ecart__logo" src="assets/svg/stopwatch.svg" alt="upvoteicon icon" />
            <div class="content__ecart__text">
                <h4>Créer votre watchlist</h4>
                <p>Ajouter un anime à votre liste pour vous organiser et mettre à jour le nombre d’épisodes que vous avez vus.</p>
            </div>
        </div>

    </div>
    <app-button [libelle]="'Rejoins la communauté !'"></app-button>
</div>

<app-articles [articles]="articles"/>

<app-banner/>

<app-animes [animes]="animes"/>
