@import "../../../themes/app.scss";

.card-character {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: $white;
    text-decoration: none;
    border-radius: 10px;
    width: auto;

    h3 {
        width: 100%;
        color: $black;
        text-align: center;
    }

    img {
        height: 100%;
        width: 100px;
        object-fit: cover;
        border-radius: 10px 0 0 10px;
    }
}


@include respond-to("tablet") {
    .card-character {
        width: calc($max-width / 4 - 1rem);
        @include effect-hover;
    }
}