@import "../../../themes/app.scss";

.scoring {
    display: flex;
    height: auto;
    width: 100%;
    margin-bottom: 1rem;
    &__score {
        margin: 1rem 0 0 0;
        font-weight: 600;
        font-size: 24px;
        color: $black;
    }
        &__stats {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 .5rem;
        > p {
            padding: .5rem 0 0 0;
            color: $black;
        }
    }
}

@include respond-to("tablet") {
    .scoring {
        flex-direction: column;
        &__score {
            color: $white;
        }
        &__stats {
            display: flex;
            flex-direction: row;
            margin: 0;
            > p {
                padding: 1rem 1rem 0 0;
                color: $white;
            }
        }
    }
}

@include respond-to("desktop") {
    .scoring {
        margin-left: 1rem;
    }
}
