@import "../../../themes/app.scss";

.figures {
    @include inline-block($primary);

    .container-page {
        margin: 0 auto;
        width: 90vw;
        .app-character {
            margin-bottom: 1rem;
        }
    }
}

@include respond-to("desktop") {
    .figures {
        .container-page {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }
    }
}