<section class="container-articles">
  <div class="container">

    <app-title title="articles recent" tag="h2"  />

    <ng-container *ngIf="articles; else skeleton">
      <section class="articles">
        <ng-container *ngIf="!isMobile">
          <app-card-article class="one" [article]="articles[0]" [one]="true" />
          <app-card-article class="two" [article]="articles[1]" />
          <app-card-article class="three" [article]="articles[2]" />
          <app-card-article class="four" [article]="articles[3]" />
          <app-card-article class="five" [article]="articles[4]" />
        </ng-container>

        <swiper-container
          *ngIf="isMobile"
          class="mySwiper"
          space-between="16"
          slides-per-view="auto"
          speed="500"
        >
          <swiper-slide>
            <app-card-article [article]="articles[0]" />
          </swiper-slide>
          <swiper-slide>
            <app-card-article [article]="articles[0]" />
          </swiper-slide>
          <swiper-slide>
            <app-card-article [article]="articles[0]" />
          </swiper-slide>
          <swiper-slide>
            <app-card-article [article]="articles[0]" />
          </swiper-slide>
          <swiper-slide>
            <app-card-article [article]="articles[0]" />
          </swiper-slide>
        </swiper-container>
      </section>
    </ng-container>

    <app-title title="articles les plus commentés" tag="h2"  />

    <ng-container *ngIf="articles; else skeleton">
      <section class="articles-commented">
        <ng-container *ngIf="!isMobile">
          <app-card-article class="one" [article]="articles[0]" />
          <app-card-article class="two" [article]="articles[1]" />
          <app-card-article class="three" [article]="articles[2]" />
          <app-card-article class="four" [article]="articles[3]" />
          <app-card-article class="five" [article]="articles[4]" />
          <app-card-article class="five" [article]="articles[4]" />
        </ng-container>

        <swiper-container
          *ngIf="isMobile"
          class="mySwiper"
          space-between="16"
          slides-per-view="auto"
        >
          <swiper-slide>
            <app-card-article [article]="articles[0]" />
          </swiper-slide>
          <swiper-slide>
            <app-card-article [article]="articles[0]" />
          </swiper-slide>
          <swiper-slide>
            <app-card-article [article]="articles[0]" />
          </swiper-slide>
          <swiper-slide>
            <app-card-article [article]="articles[0]" />
          </swiper-slide>
          <swiper-slide>
            <app-card-article [article]="articles[0]" />
          </swiper-slide>
        </swiper-container>
      </section>
    </ng-container>


  </div>
</section>


<ng-template #skeleton>
  <div class="container-skeleton" *ngIf="!articles">
    <ngx-skeleton-loader
      *ngFor="let number of [0, 1, 2, 3]"
      [theme]="{
        width: '252px',
        height: '350px',
        'border-radius': '10px',
        margin: '0 auto 0 auto'
      }"
    />
  </div>
</ng-template>
