@import "../../../themes/app.scss";

.themes {
    @include inline-block($primary);
}

@include respond-to("desktop") {
    .container-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        app-theme {
            margin-bottom: 2rem;
        }
    }
}

