@import "../../../themes/app.scss";

.themes {
    @include inline-block($primary);

    .container-page {
        display: flex;
        flex-direction: column;
        align-items: center;

        & app-theme {
            margin-bottom: 1rem;
        }
    }
}

@include respond-to("desktop") {
    .themes {
        .container-page {
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: start;
        }
    }
}