@import "../../../themes/app.scss";

.posters {
    @include inline-block($primary);
}

@include respond-to("desktop") {
    .container-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        app-poster:not(:nth-last-child(-n+4)) {
            margin-bottom: 2rem;
        }
    }
}

