<div class="posters">
    <div class="container">
        <app-title [libelle]="'Tous les posters de ' + ROUTER_PARAM_SLUG.replace('-', ' ')" [color]="'#202020'" />
        <div class="container-page container-page__grid">
            <app-poster *ngFor="let poster of posters | paginate : { itemsPerPage: 12, currentPage: currentPage }; trackBy:trackByFn" [poster]="poster"/>
        </div>
        <pagination-controls
        class="my-pagination"  
        (pageChange)="currentPage = $event"
        [directionLinks]="true"
        [autoHide]="true"
        previousLabel="Précédent"
        nextLabel="Suivant"
        screenReaderPaginationLabel="Pagination"
        screenReaderPageLabel="page"
        screenReaderCurrentLabel="You're on page"
      >
        ></pagination-controls>
    </div>
</div>