@import "../../../themes/app.scss";

.posters {
    @include inline-block($primary);

    .container-page {
        display: flex;
        flex-direction: column;
        align-items: center;

        & app-poster {
            margin-bottom: 1rem;
        }
    }
}

@include respond-to("desktop") {
    .posters {
        .container-page {
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            justify-content: start;

            app-poster:not(:nth-child(4n+1)) {
                margin-left: 1.33rem;
            }
        }
    }
}